<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap" rel="stylesheet">
    <title>Farm Management</title>
</head>
<body>
    <header>
        <h1>Welcome to Farm Management</h1>
    </header>

    <div class="home-content">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Efficient Data Management</h5>
                <p class="card-text">Digital platforms allow farmers to collect, store, and analyze data from the farm leading to informed decisions.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Precision Agriculture</h5>
                <p class="card-text">Using data-driven insights, farmers can optimize planting, irrigation, and harvesting processes, reducing waste and increasing yields.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Cost Reduction</h5>
                <p class="card-text">Digital solutions can help streamline operations, minimize resource wastage, and cut down operational costs.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>

    <div class="container text-center mt-4"> <!-- Container for the button -->
        <a href="/dashboard" class="btn btn-primary btn-lg">Go to Dashboard</a> <!-- Bootstrap button linking to the dashboard -->
    </div>

    <footer>
        <p>&copy; 2023 Farm Management</p>
    </footer>
</body>
</html>
