/* Common styles for all screen sizes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');

* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1{
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navbar styles */
.navbar {
    background-color: #000;
    height: 4rem;
    display: flex;
}

.nav {
    padding: 0;
    margin: 0;
}

/* Logo styles */
.logo {
    font-size: 24px;
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;

}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Remove link styles */
.navbar a {
    text-decoration: none;
}

.logo:hover {
    color: #ddd;
}

/* Content styles */
.content {
    display: flex;
    width: 100%;
    background-color: #f5f5f5;
    flex: 1;
    flex-direction: row; /* Display items side by side */
}

/* Vertical Navbar styles */
.vertical-navbar {
    background-color: #333;
    width: 200px;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}

.vertical-navbar ul {
    list-style-type: none;
    padding: 0;
}

.vertical-navbar li {
    margin: 0;
    height: 3rem;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.vertical-navbar li:hover {
    background-color: #555;
}

/* Tab Content */
[data-tab-content] {
    flex: 1; /* Expand to fill the available space horizontally */
    display: none;
}

.active[data-tab-content] {
    display: block;
}

main {
    padding: 0.5rem;
    flex: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/farm.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
}

.profile-img {
    justify-content: center;
    align-items: center;
}

.small-image {
    width: 100%;
    height: auto; /* Maintain the aspect ratio */
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    padding-top: 0;
}

/* Tables */
table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
}

table th, table td {
    padding: 8px;
    text-align: left;
}

table th {
    background-color: gold;
    color: black;
    font-weight: bold;
    border: 1px solid black;
}

table tr {
    background-color: #00000056;

}

table tr:hover {
    border-color: #5c4804;
}

table {
    border: 1px solid black;
    color: #fff;
}


.crop-buttons{
    padding: 2rem;
    gap: 2rem;

}

.btn-refresh{
    border-radius: 50%;
    width: fit-content;
    background: #754820;
}

/* Modals */
.modal-body {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Add some spacing between form groups */
}

.form-group label {
    margin-bottom: 5px; /* Add some spacing between the label and the input */
}

.form-group input {
    padding: 5px;
}










/* Media query for mobile screens */
@media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens here */
    .navbar {
        height: 4rem;
    }

    
    .logo {
        font-size: 20px;
    }

    .content {
        flex-direction: column;
        background-color: #000;
    }

    .vertical-navbar {
        width: 100%; /* Full width on smaller screens */
        background-color: transparent;
        padding: 10px 0;
        display: none;
        transition: display 0.3s ease;
    }

    .vertical-navbar ul {
        text-align: center;
    }

    .vertical-navbar li {
        width: 100%;
        padding: 10px 0;
    }

    .tab-content {
        flex-direction: column; /* Display items vertically on mobile */
    }

    main{
        padding: 0.5rem;
    }


    /* Table */
    table {
        border-collapse: collapse;
        border: none;
        overflow: auto;
    }

    table th, table td {
        padding: 6px;
        display: block;
    }
    td{
        border: none;
        color: #fff;
    }
    td,th{
        border: none;
    }

    table th {
        background-color: rgba(255, 217, 0, 0.259);
        display: flex;
        justify-content: center;
        width: 100%;
        color: black;
        font-weight: bold;
        border: none;
    }

    table tr {
        background-color: #00000056;
        margin-bottom: 10px;
        border: 2px solid black;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    table tr:hover {
        border-color: #5c4804;
    }


}
